
/*
div{
    background-color: cadetblue;
    height: 500px;
}
*/

#hijoUno{
    background-color: gold;
}

#hijoDos{
    background-color: rgb(0, 81, 255);
}

#hijoTres{
    background-color: rgb(255, 0, 170);
}

